@charset 'utf-8';

a:hover,a:active,a:visited,a:link{
	text-decoration:none;
}
a,button{cursor:pointer;}
table thead th {
	text-align:center;
}
a:active {
	border:none;
	outline:none;
	background-color:none;
	-webkit-tap-highlight-color:transparent;
  	-webkit-tap-highlight-color: #fff;
}
textarea ,textarea:hover,textarea:active{
	resize:none;
}
.content {
	margin-top:10px;
}

.table tbody tr td{
    vertical-align: middle;
}
.container-top {
	margin-top:60px;
}