<div id="app">
	<div class="row">
		<div class="col-sm-7">
			<form class="form-horizontal">
			<div class="form-group">
				 <label class="col-sm-1 control-label">Url:</label>
				 <div class="col-sm-5">
					 <iter-list type="read"></iter-list>
				 </div>
				 <label class="control-label">{{ tokenName }}: {{ token }} </label>
			</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10">
			<label class="control-label">方法: {{ method }} </label>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-10 content">
			<label class="control-label">备注: {{ memo }}</label>
		</div>
	</div>
	<div class="row" id="postparam">
		<table-create :thead="tableCreateParams.thead" :tbody="tableCreateParams.tbody" type="readParams"></table-create>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<form>
				<div class="form-group">
					<label>JSON </label>
					<label><input type="checkbox" :checked="jsonFormatRead" @change="jsonFormatReadChange"> 格式化显示</label>
					<textarea class="form-control" cols="30" rows="5">{{ jsonData }}</textarea>
				</div>
				<div class="form-group">
					<input class="btn btn-default" type="button" value="提交请求" @click="sendRequest">
					<input class="btn btn-default" type="button" value="格式化" @click="jsonFormat">
				</div>
			</form>
		</div>
	</div>
	<div class="row" id="returnparam">
		<table-create :thead="tableReturnParams.thead" :tbody="tableReturnParams.tbody" type="readReturn"></table-create>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<form class="form-inline">
				<div class="form-group">
					<label>URL:</label>
					<input type="text" class="form-control" v-model="url">
				</div>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 content">
			<form>
				<div class="form-group">
					<label>响应时间</label>
					<label>{{ dateTime }}</label>
					<label>({{ responseTime }})</label>
				</div>
				<div class="form-group">
					<label>响应内容(JSON)</label>
				</div>
				<div class="form-group" v-for="item in responseData">
					<textarea class="form-control" cols="30" rows="5">{{ item }}</textarea>
				</div>
			</form>
		</div>
	</div>
</div>

<script type="text/javascript">
	window.app = new Vue({
		el: '#app',
		data: {
			token: "",
			url: "",
			name: "",
			method: "",
			memo: "",
			result: [],
			tokenName: apiConfig['accessTokenName'],
			responseTime: "",
			dateTime: "",
			jsonFormatRead: apiConfig['jsonFormatRead'],
			jsonData: [],
			tableCreateParams: {
				thead: ["参数","类型","必须","说明","参数值"],
				tbody: []
			},
			tableReturnParams: {
				thead: ["参数","类型","说明"],
				tbody: []
			}
		},
		computed: {
			responseData: function () {
				return this.result.reverse();
			}
		},
		methods: {
			setData: function (data) {
				var vm = this;
				mce.struct.each(data,function (k,v) {
					vm[k] = v;
				});
			},
			sendRequest: function () {
				var   vm = this
					, jsonData = JSON.parse(vm.jsonData);
					// , index = dialog.loading();
				jsonData[apiConfig['accessTokenName']] = vm.token;
				Vue.$http.post(getRequstUrl('detail'),{
					url: vm.url,
					method: vm.method,
					data: jsonData
				},function (response) {
					// dialog.close();
					if (response.code == getStatus('success')) {
						resultJsonData = jsonFormat(response.data.retData);
						if (resultJsonData) {
							vm.result.push(resultJsonData);							
						}
						vm.responseTime = response.data.responseTime + 's';
						vm.dateTime     = response.data.dateTime;
						vm.setToken(JSON.parse(response.data.retData));
					} else {
						alert(response.msg);
						// dialog.error(response.msg,apiConfig['name'],function () {
						// 	dialog.close();
						// });
					}
				});
			},
			jsonFormat: function () {
				this.jsonData = JSON.stringify(JSON.parse(this.jsonData),null,4);
			},
			changeParams: function (json) {
				var json    = json || {}
				  , tmpJson = {};
				for (var i in json) {
					tmpJson[json[i].name] = json[i].default;
				}
				this.jsonData =  this.jsonFormatRead ? JSON.stringify(tmpJson,null,4) : JSON.stringify(tmpJson);
			},
			jsonFormatReadChange: function () {
				this.jsonFormatRead = !this.jsonFormatRead;
				this.jsonFormatRead ? this.jsonData = JSON.stringify(JSON.parse(this.jsonData),null,4) 
									: this.jsonData = JSON.stringify(JSON.parse(this.jsonData));
			},
			setToken: function (response) {
				var token = response.data[apiConfig['accessTokenName']]
				  , expiryTime  = response.data[apiConfig['accessTokenExpiryTime']]
				  , storageData = {};
				if (mce.toolFn.isEmpty(token)) {
					return false;
				}
				var expiryTimeSave = mce.toolFn.isEmpty(expiryTime) ? Date.parse(new Date()) + 3600 * 1000 : Date.parse(new Date()) + expiryTime * 1000;
				this.token = token;
				storageData['access_token'] = token;
				storageData['expiry_time']  = expiryTimeSave;
				storage.set('access_key',JSON.stringify(storageData));
			}
		},
		mounted: function () {
			var vm = this
			  , storageData = storage.get('access_key');
			if (!mce.toolFn.isEmpty(storageData)) {
				storageData = JSON.parse(storageData);
				var time = Date.parse(new Date());
				if (time <= storageData['expiry_time']) {
					vm.token = storageData['access_token'];
				}
				else
				{
					vm.token = "";
				}
			}
			vm.$on('changeUrl',function (url) {
				this.url = url;
				var key = "iterList." + url
				  , callback = function (response) {
					cache.set(key,response);
					vm.tableCreateParams.tbody = response.data.postparam ? response.data.postparam : [];
					vm.tableReturnParams.tbody = response.data.returnparam ? response.data.returnparam : [];
					vm.changeParams(vm.tableCreateParams.tbody);
					vm.setData({
						name: response.data.name,
						url: response.data.url,
						method: response.data.method,
						memo: response.data.remark,
					});
				};
				cache.has(key) ? callback(cache.read(key)) : Vue.$http.post(getRequstUrl('get'),{url: url},callback);
			});
			vm.$on('changeParams',function (jsonData) {
				 this.changeParams(jsonData);
			});
			$('#interfaceSelect').selectpicker();
		},
		components: {
			"table-create": components.tableCreate,
			"iter-list": components.interfaceSelectList
		}
	});
</script>